<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IRewardSvc" value="FamilyPoints.Service.RewardSvcImpl" />
    <add key="IBehaviorSvc" value="FamilyPoints.Service.BehaviorSvcImpl" />
    <add key="IParentSvc" value="FamilyPoints.Service.ParentSvcImpl" />
    <add key="IChildSvc" value="FamilyPoints.Service.ChildSvcImpl" />
    <add key="IFamilySvc" value="FamilyPoints.Service.FamilySvcImpl" />
    <add key="ITransactionSvc" value="FamilyPoints.Service.TransactionSvcImpl" />
  </appSettings>
  <connectionStrings>
    <add name="FamilyPointsContext"
              connectionString="Data Source=.;Initial Catalog=FamilyPointsContext;Integrated Security=true;Pooling=false;"
              providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>