<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--Services Created by Factory -->
    <add key="IRewardSvc" value="FamilyPoints.Service.RewardSvcImpl" />
    <add key="IBehaviorSvc" value="FamilyPoints.Service.BehaviorSvcImpl" />
    <add key="IParentSvc" value="FamilyPoints.Service.ParentSvcImpl" />
    <add key="IChildSvc" value="FamilyPoints.Service.ChildSvcImpl" />
    <add key="IFamilySvc" value="FamilyPoints.Service.FamilySvcImpl" />
    <add key="ITransactionSvc" value="FamilyPoints.Service.TransactionSvcImpl" />
    <!--End Services Created by Factory -->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>